@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading1{
    font-size: 36px;
    font-weight: bold;
}
.para1{
    font-size: 18px;
}
.cursor-pointer{
    cursor: pointer;
}
.highlight {
    background-color: #343a40; /* Dark color for highlighting */
    color: white; /* Text color when highlighted */
  }
  .editable-field {
    position: relative;
}

.editable-field input {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    background-color: transparent;
}

.edit-icon {
    cursor: pointer;
}
.card-container {
    transform: scale(0.9); /* You can adjust the scale value based on your preference */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.card-container:hover {
    transform: scale(1); /* Zoom back to normal on hover */
}

    .search input{

     height: 40px;
     text-indent: 25px;
     border: 1px solid #F2F2F2;;
     border-radius: 21px;
     background-color: #F2F2F2;;
    

    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid #F2F2F2;;


    }

    .search .fa-search{

     position: absolute;
     top: 13px;
     left: 20px;
     margin-left: 7px;

    }
    input {
        background-color: inherit; /* or background-color: inherit; */
    }

    #loginModal .modal-dialog{
        max-width: 50%;
    } 

    #exampleModal .modal-dialog{
        max-width: 50%;
    }

    .bottom-container {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
         box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); z-index: 999;
        border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    }

    /* Add media query for small devices */
    @media (max-width: 767px) {
        .bottom-container.active {
            display: block;
        }
    }

    .slideup-container {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(253, 253, 253);
        padding: 20px;
        box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
        z-index: 998;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #editIcon {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display:block; /* Initially hide the icon */
        background-color: rgb(243, 67, 9);
        color: white;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
    }